@{
    ViewBag.Title = "Chỉnh sửa nhật ký";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    string noteID;

    try
    {
        noteID = Html.ViewContext.RouteData.Values["id"].ToString();
    }
    catch (Exception)
    {
        noteID = "";
    }
}
<div class="container p-t-20">
    <div class="card">
        <div class="card-header">
            <strong>Thêm mới một nhật ký</strong>
        </div>
        <div class="card-body card-block">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal" onsubmit="return false;">
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="inputEmail" class=" form-control-label">Người dùng</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="inputEmail" name="inputEmail" placeholder="Người dùng" disabled class="form-control">
                        <input type="text" id="inputUserID" name="inputUserID" disabled class="form-control" hidden>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="inputNotebook" class=" form-control-label">Sổ tay</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <select name="inputNotebook" id="inputNotebook" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="inputTitle" class=" form-control-label">Tiêu đề</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="inputTitle" name="inputTitle" placeholder="Tiêu đề" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="inputBody" class=" form-control-label">Nội dung</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <textarea id="inputBody" name="inputBody"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm" id="update-note">
                <i class="fa fa-dot-circle-o"></i> Cập nhật
            </button>
        </div>
    </div>
</div>


@section scripts
{
    <script src="//cdn.ckeditor.com/4.11.3/standard/ckeditor.js"></script>
    <script>
        "use strict";
        var NoteID = '@noteID';

        CKEDITOR.replace('inputBody', {
            language: 'en',
            height: 100,
            toolbarCanCollapse: true
        });

        var errorMessage = function (element, text) {
            let wrapper = $(".card-body " + element);
            $(wrapper).find(".animate-alert").remove();
            if (!$(wrapper).find(".animate-alert").length) {
                $(wrapper).after($("<div class=\"alert alert-danger animate-alert\" role=\"alert\">" + text + "</div>"));
            }
            else {
                $(wrapper).find(".animate-alert").remove();
            }
        }

        $(document).ready(function () {
            let wrapper = $(".card-body");
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Admin/Note/EditNote",
                data: { "flag": true, "NoteID": NoteID },
                success: function (response) {
                    if (response.status == true) {
                        $.each(response.notebook, function (i) {
                            $("select#inputNotebook").append(new Option(response.notebook[i].Title, response.notebook[i].NotebookID));
                        });
                        $.each(response.note, function (i) {
                            //console.log(response.note[i].NotebookID)
                            $(wrapper).find("input[id='inputEmail']").val(response.note[i].Email);
                            $(wrapper).find("input[id='inputUserID']").val(response.note[i].UserID);
                            $(wrapper).find("input[id='inputTitle']").val(response.note[i].Title);
                            $("select#inputNotebook option[value=" + response.note[i].NotebookID + "]").attr('selected', 'selected');
                            CKEDITOR.instances['inputBody'].setData(unescape(response.note[i].Body));
                        });
                    }
                    else {
                        Swal.fire({
                            position: "center",
                            type: "error",
                            title: "Có lỗi, vui lòng thử lại...",
                            showConfirmButton: false,
                            timer: 1000
                        })
                    }
                }
            })
            return false;
        });

        $(document).ready(function () {
            $("#update-note").on("click", function (e) {
                e.preventDefault();
                $(wrapper).find(".animate-alert").remove();

                for (var instanceName in CKEDITOR.instances) {
                    CKEDITOR.instances[instanceName].updateElement();
                }

                var wrapper = $(".card-body");
                var inputUserID = $("#inputUserID").val();
                var inputNotebookID = $("#inputNotebook").find('option:selected').val();
                var inputTitle = $("#inputTitle").val();
                var inputBody = $("#inputBody").val();
                if (inputNotebookID == null) {
                    $(wrapper).find(".animate-alert").remove();
                    errorMessage("#inputNotebook", "Sổ tay chưa được chọn");
                    return false;
                }
                else if (inputTitle.length == false) {
                    $(wrapper).find(".animate-alert").remove();
                    errorMessage("#inputTitle", "Tiêu đê không được để trống");
                    return false;
                }
                else if (inputBody.length == false) {
                    $(wrapper).find(".animate-alert").remove();
                    errorMessage("#inputBody", "Nội dung không được để trống");
                    return false;
                }
                else {
                    var encode_body = escape(inputBody);
                    //console.log(encode_body)
                    $(wrapper).find(".animate-alert").remove();
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: "/Admin/Note/UpdateNote",
                        data: { "UserID": inputUserID, "NoteID": NoteID, "NotebookID": inputNotebookID, "Title": inputTitle, "Body": encode_body },
                        success: function (response) {
                            if (response.status == true) {
                                Swal.fire({
                                    position: "center",
                                    type: "success",
                                    title: "Cập nhật nhật ký thành công",
                                    showConfirmButton: false,
                                    timer: 1000
                                }).then(function () {
                                    window.location.href = "/Admin/Note"
                                })
                            }
                            else {
                                Swal.fire({
                                    position: "center",
                                    type: "error",
                                    title: "Có lỗi, vui lòng thử lại...",
                                    showConfirmButton: false,
                                    timer: 1000
                                })
                            }
                        }
                    })
                    return false;
                }
            })
        });
    </script>
}