<ul>
    <li>
        @Html.ActionLink("Đăng ký", "Register", "Account")
    </li>
    <li>hoặc</li>
    <li>
        @Html.ActionLink("Đăng nhập", "Login", "Account", null, new { @class = "button-outline" })
    </li>
</ul>