@{
    ViewBag.Title = "Về chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="hero with-image pattern-background stripes green bold-description no-image-mobile" id="">
    <div class="row">
        <div class="content-container clearfix">
            <div class="content">
                <h1>Giới thiệu về Writenote</h1>
                <div class="description">
                    <p>Writenote được tạo ra để giải quyết một vấn đề ngày càng lớn do chính công nghệ tạo ra: làm thế nào để thành công trong một thế giới thông tin phát triển nhanh chóng không ngừng.</p>
                    <p>Mục đích của chúng tôi là cho mọi người thời gian và sự tự do để tập trung vào những nội dung quan trọng bằng cách giúp họ tổ chức cuộc sống tốt hơn.</p>
                </div>
            </div>
            <div class="image ">
                <img class="" src="@Url.Content("~/Content/img/homepage-remember-everything.png")">
            </div>
        </div>
    </div>
</div>
<div class="writenote-story">
    <div class="row">
        <div class="story clearfix">
            <div class="section blue neg-100 bottom-img-offset">
                <h2>Câu chuyện của chúng tôi</h2>
                <div class="content">
                    Trước đây không lâu, nắm bắt ý tưởng có nghĩa là dừng lại để ghi ra giấy trước khi quên. Trích trang web nghĩa là phải đánh dấu trang hoặc chụp ảnh màn hình. Lưu và chia sẻ tệp với nhóm dự án nghĩa là trao đổi email với nhau, rồi không biết là ai có phiên bản mới nhất của tài liệu.
                    Rồi Writenote xuất hiện.
                </div>
                <img class="bottom-image" src="@Url.Content("~/Content/img/ladder-icon.png")" alt="Ladder">
            </div>
            <div class="section top-marg-large">
                <img class="top-image" src="@Url.Content("~/Content/img/notes-icon.png")" alt="Ghi chú">
                <div class="content">
                    Writenote tạo ra các sản phẩm và dịch vụ giúp mọi người tập trung vào những gì quan trọng nhất. Writenote đã thay đổi cách người dùng biến ý tưởng thành hành động, giúp các nhóm cộng tác tốt hơn, cho dù ở đâu. 225 triệu người khắp thế giới đã khám phá sức mạnh của Writenote và sử dụng Writenote bằng hơn 25 thứ tiếng mỗi ngày.
                </div>
            </div>
        </div>
    </div>
</div>