@{
    ViewBag.Title = "So sánh các gói thuê bao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="plans-component pattern-background grey offset-bottom">
    <div class="row">
        <div class=" plans-list clearfix">
            <div class="heading-content">
                <h1 class="heading">Chọn gói thuê bao</h1>
                <div class="details">Writenote cung cấp đủ giải pháp phù hợp với nhu cầu của bạn.</div>
            </div>
            <div class="plans clearfix">
                <div class="plan product">
                    <div class="plan-inner">
                        <div class="super">WRITENOTE CƠ BẢN</div>
                        <div class="price free">
                            <span class="price-point">MIỄN PHÍ</span>
                        </div>
                        <div class="content">
                            Ghi chú hiệu quả
                        </div>
                        <div class="cta">
                            <a class="button-primary writenote" href="@Url.Action("Register", "Account", new { area = "" })">ĐĂNG KÝ MIỄN PHÍ</a>
                        </div>
                        <div class="mobile-only feature-list">
                            <div class="container">
                                <div class="heading">Tính năng</div>
                                <div class="list">
                                    <div class="item">Định dạng nâng cao bằng bảng biểu và tệp đính kèm</div>
                                    <div class="item">Thu thập các bản trích trang web và ảnh chụp màn hình từ mọi trình duyệt hoặc thiết bị</div>
                                    <div class="item">Tạo ghi chú bằng âm thanh</div>
                                    <div class="item">Tạo danh sách việc cần làm kèm theo hộp kiểm</div>
                                    <div class="item">Ghi chú bằng bút cảm ứng trên thiết bị di động</div>
                                    <div class="item">Tô sáng, chú thích hoặc nhận xét hình ảnh</div>
                                    <div class="item">Đính kèm tệp PDF, biên lai, tệp và tài liệu</div>
                                    <div class="item">Trích toàn bộ trang, hình ảnh và văn bản trên web</div>
                                    <div class="item">Tìm thấy ghi chú thật nhanh</div>
                                    <div class="item">Tạo sổ tay và thẻ</div>
                                    <div class="item">Sắp xếp và tổ chức thông tin theo ngày tháng, tiêu đề hoặc thẻ</div>
                                    <div class="item">Tìm kiếm văn bản trong ảnh</div>
                                    <div class="item">Chia sẻ sổ tay với một hoặc nhiều người</div>
                                    <div class="item">Cấp quyền chỉnh sửa ghi chú và sổ tay</div>
                                </div>
                                <div class="heading">Chi tiết</div>
                                <div class="list">
                                    <div class="item">60 MB dung lượng tải lên mỗi tháng </div>
                                    <div class="item">Kích thước ghi chú tối đa là 25 MB </div>
                                    <div class="item">2 thiết bị cho mỗi tài khoản </div>
                                    <div class="item">Chỉ có thể truy cập ngoại tuyến trên máy tính</div>
                                    <div class="item">Nhận hỗ trợ của cộng đồng</div>
                                </div>
                            </div>
                            <div class="toggle-features">
                                <a class="show-features">+ Hiện tính năng</a>
                                <a class="hide-features">- Ẩn tính năng</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="plan product">
                    <div class="call-out">
                        PHỔ BIẾN NHẤT
                    </div>
                    <div class="plan-inner">
                        <div class="super">WRITENOTE NÂNG CAO</div>
                        <div class="price">
                            <span class="price-point">50.000 đ</span> / Tháng
                        </div>
                        <div class="content">
                            Tổ chức mọi thứ
                        </div>
                        <div class="cta">
                            <a class="button-primary writenote" href="@Url.Action("Register", "Account", new { area = "" })">BẮT ĐẦU DÙNG THỬ MIỄN PHÍ</a>
                        </div>
                        <div class="mobile-only feature-list">
                            <div class="container">
                                <div class="heading">Tính năng</div>
                                <div class="list">
                                    <div class="item">Mọi tính năng của gói Basic</div>
                                    <div class="item">Chuyển tiếp email vào tài khoản Evernote</div>
                                    <div class="item">Quét và số hóa danh thiếp và tạo ghi chú cho thông tin liên hệ</div>
                                    <div class="item">Chú thích các tệp PDF</div>
                                    <div class="item">Tìm kiếm văn bản trong ảnh</div>
                                    <div class="item">Tìm văn bản bên trong tệp PDF và tài liệu Office</div>
                                    <div class="item">Xem danh sách các phiên bản của ghi chú</div>
                                    <div class="item">Biến ghi chú thành bài trình bày chỉ bằng 1 lần nhấp chuột</div>
                                </div>
                                <div class="heading">Chi tiết</div>
                                <div class="list">
                                    <div class="item">10 GB dung lượng tải lên mỗi tháng </div>
                                    <div class="item">Kích thước ghi chú tối đa là 200 MB </div>
                                    <div class="item">Không giới hạn số thiết bị cho mỗi tài khoản</div>
                                    <div class="item">Truy cập ngoại tuyến trên máy tính &amp; di động</div>
                                    <div class="item">Hỗ trợ qua email và Trao đổi trực tuyến</div>
                                </div>
                            </div>
                            <div class="toggle-features">
                                <a class="show-features">+ Hiện tính năng</a>
                                <a class="hide-features">- Ẩn tính năng</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="plan product">
                    <div class="plan-inner">
                        <div class="super">WRITENOTE CAO CẤP</div>
                        <div class="price">
                            <span class="price-point">100.000 đ</span> / người dùng / tháng
                            <span class="qualifier">*</span>
                        </div>
                        <div class="content">
                            Giúp nhóm thống nhất với nhau
                        </div>
                        <div class="qualifier-text">* không giới hạn mọi thứ</div>
                        <div class="cta">
                            <a class="button-primary writenote" href="@Url.Action("Register", "Account", new { area = "" })">BẮT ĐẦU DÙNG THỬ MIỄN PHÍ</a>
                        </div>
                        <div class="mobile-only feature-list">
                            <div class="container">
                                <div class="heading">Tính năng</div>
                                <div class="list">
                                    <div class="item">Mọi tính năng của gói Premium</div>
                                    <div class="item">Chia sẻ ghi chú và sổ tay với bất kỳ ai trong công ty</div>
                                    <div class="item">Đề xuất những ghi chú liên quan của đồng nghiệp trong công ty</div>
                                    <div class="item">Kết nối với những công cụ CRM như Salesforce</div>
                                    <div class="item">Không gian cộng tác cho dự án và quy trình công việc của nhóm</div>
                                    <div class="item">Một nơi tập trung cho mọi công việc, cũ hay mới</div>
                                    <div class="item">Cấp phép để truy cập nội dung</div>
                                    <div class="item">Một bảng thông báo ảo để cập nhật thông tin cho toàn nhóm</div>
                                    <div class="item">Chỉnh sửa ghi chú theo thời gian thực với mọi người (tính năng thử nghiệm)</div>
                                    <div class="item">Nơi quản trị tài khoản và quản lý người dùng tập trung</div>
                                    <div class="item">Đăng nhập một lần</div>
                                    <div class="item">Lịch sử hoạt động</div>
                                    <div class="item">Sở hữu dữ liệu của doanh nghiệp</div>
                                </div>
                                <div class="heading">Chi tiết</div>
                                <div class="list">
                                    <div class="item">20 GB + 2 GB dung lượng tải lên cho mỗi người dùng mỗi tháng</div>
                                    <div class="item">Kích thước ghi chú tối đa là 200 MB</div>
                                    <div class="item">Không giới hạn số không gian</div>
                                    <div class="item">Không giới hạn số thiết bị cho mỗi tài khoản</div>
                                    <div class="item">Truy cập ngoại tuyến trên máy tính &amp; di động</div>
                                    <div class="item">Hỗ trợ qua điện thoại</div>
                                </div>
                            </div>
                            <div class="toggle-features">
                                <a class="show-features">+ Hiện tính năng</a>
                                <a class="hide-features">- Ẩn tính năng</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>