
@{
    ViewBag.Title = "Sổ tay của bạn";
    ViewBag.NoteBook = "active";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}
<div class="section light-bg" id="notes">
    <div class="container">
        <div class="section-title">
            <br />
            <h3>Tất cả sổ tay</h3>
            <br />
            <center><div class="circle-icon mr-4" data-toggle="modal" data-target="#create-notebook">&plus;</div></center>
        </div>
        <div class="masonry">
        </div>
    </div>
</div>

<div class="modal fade bottom" id="create-notebook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-bottom" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-50" id="myModalLabel">Tạo mới một sổ tay</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="md-form mt-3">
                    <input type="text" id="inputTitle" name="inputTitle" class="form-control">
                    <label for="inputTitle">Tiêu đề</label>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-primary" id="create">Tạo mới</button>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        "use strict";
        var wrapper = $(".modal-body");
        $(document).ready(function () {
            let wrapper = $("#notes>.container>.masonry");
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Client/NoteBook/Index",
                data: { "flag": true },
                success: function (response) {
                    if (response.status == true) {
                        $.each(response.data, function (i) {
                            var url = '@Url.Action("ViewNoteBook", "NoteBook", new { area = "Client", id = "_id_" })'.replace('_id_', response.data[i].NotebookID);
                            $(wrapper).append("<div class=\"brick\"><div class=\"card features\"><div class=\"card-body\"><div class=\"media\"><div class=\"media-body\"><a href=\"" + url + "\"><h4 class=\"card-title\">" + response.data[i].Title + "</h4></a></div></div></div></div></div>")
                        })
                    }
                    else {
                        $(wrapper).append("<div class=\"brick\"><div class=\"card features\"><div class=\"card-body\"><div class=\"media\"><div class=\"media-body\"><h4 class=\"card-title\">Chưa có nhật ký nào cả</h4><p class=\"card-text\">Thêm mới một nhật ký</p></div></div></div></div></div>")
                    }
                }
            })

            return false;
        })

        $(document).ajaxStart(function () {
            $("#pressData").show();
        });

        $(document).ajaxStop(function () {
            $("#pressData").hide();
        });

        $("button#create").on("click", function (e) {
            e.preventDefault();
            var inputTitle = $("#inputTitle").val();

            if (inputTitle.length == false) {
                $(wrapper).find(".animate-alert").remove();
                errMessTwo(".md-form", "Tiêu đề không được để trống");
                return false;
            }
            else {
                $(wrapper).find(".animate-alert").remove();
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/Client/NoteBook/Create",
                    data: { "title": inputTitle },
                    success: function (response) {
                        if (response.status) {
                            Swal.fire({
                                position: "center",
                                type: "success",
                                title: "Thêm thành công",
                                showConfirmButton: false,
                                timer: 1000
                            }).then(function () {
                                window.location.href = "/Client/NoteBook"
                            })
                        }
                        else {
                            Swal.fire({
                                position: "center",
                                type: "error",
                                title: "Có lỗi, vui lòng thử lại...",
                                showConfirmButton: false,
                                timer: 1000
                            })
                        }
                    },
                    error: function () {
                        Swal.fire({
                            position: "center",
                            type: "error",
                            title: "Có lỗi, vui lòng thử lại...",
                            showConfirmButton: false,
                            timer: 1000
                        })
                    }
                })
                return false;
            }
        });
    </script>
}