@{
    ViewBag.Title = "Tạo sổ tay mới";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container p-t-20">
    <div class="card">
        <div class="card-header">
            <strong>Thêm mới một sổ tay</strong>
        </div>
        <div class="card-body card-block">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal" onsubmit="return false;">
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="inputUser" class=" form-control-label">Người dùng</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <select name="inputUser" id="inputUser" class="form-control">
                            @foreach (var i in ViewData["listUser"] as IEnumerable<WriteNote.Models.ViewModels.UserViewModel>)
                            {
                                <option value="@i.UserID">@i.Email</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="inputTitle" class=" form-control-label">Tiêu đề</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="inputTitle" name="inputTitle" placeholder="Tiêu đề" class="form-control">
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm" id="create-notebook">
                <i class="fa fa-dot-circle-o"></i> Tạo mới
            </button>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        "use strict";
        var errorMessage = function (element, text) {
            let wrapper = $(".card-body " + element);
            $(wrapper).find(".animate-alert").remove();
            if (!$(wrapper).find(".animate-alert").length) {
                $(wrapper).after($("<div class=\"alert alert-danger animate-alert\" role=\"alert\">" + text + "</div>"));
            }
            else {
                $(wrapper).find(".animate-alert").remove();
            }
        }
        var wrapper = $(".card-body");
        $(document).ready(function () {
            $("#create-notebook").on("click", function (e) {
                e.preventDefault();
                $(wrapper).find(".animate-alert").remove();

                var inputUserID = $("#inputUser").find('option:selected').val();
                var inputTitle = $("#inputTitle").val();
                if (inputTitle.length == false) {
                    $(wrapper).find(".animate-alert").remove();
                    errorMessage("#inputTitle", "Tiêu đề không được để trống");
                    return false;
                }
                else {
                    $(wrapper).find(".animate-alert").remove();
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: "/Admin/Notebook/CreateNotebook",
                        data: { "UserID": inputUserID, "Title": inputTitle },
                        success: function (response) {
                            if (response.status == true) {
                                Swal.fire({
                                    position: "center",
                                    type: "success",
                                    title: "Tạo sổ tay thành công",
                                    showConfirmButton: false,
                                    timer: 1000
                                }).then(function () {
                                    window.location.href = "/Admin/Notebook"
                                })
                            }
                            else {
                                Swal.fire({
                                    position: "center",
                                    type: "error",
                                    title: "Người dùng không tồn tại",
                                    showConfirmButton: false,
                                    timer: 1000
                                })
                            }
                        }
                    })
                    return false;
                }
            })
        });
    </script>
}